# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# next
/.next/
/out/
next-env.d.ts
tsconfig.tsbuildinfo

# misc
.DS_Store
*.pem
npm-debug.log*
.env*
.vercel

# playwright
/playwright-report/
/test-results/
/blob-report/
